.main {
    padding: 0.5rem;
    padding-bottom: 4rem;
}
.messageInputWrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: fixed;
    bottom: 0;
    /* width: 100%; */
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.messageInput {
    border-radius: 10px;
    flex: 1;
    margin-left: 1rem;
}
.sendButton {
    border-radius: 5px;
    margin-right: 1rem;
}
